.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
    /* margin: 2px;
    padding: 12px; */
}
.head{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(225, 222, 222, 0.71);
    padding: 10px;
}
.head .profile{

    width: 12rem;
    height: 3rem;

}
.head img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
